<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Game Edit</title>
</head>

<body>
	<header>
		<h1>Edit <%= game.title %>'s Info</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/games">Games Index</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Game Information:</h2>
		<form action="/games/<%= games._id %>?_method=PUT" method="POST">
			<input type="text" name="title" value="<%= game.title %>" /><br />
			<input type ="text" name="author" value = "<%= game.author %>"/><br />
			<input type="text" name="publisher" value="<%= game.publiser %>" /><br />
			<input type="submit" value="Update Game" />
		</form>
	</main>
</body>

</html>